@keyframes fade {
    0% {
      opacity: 0;
    }
    12% {
      opacity: 1;
    }
    25% {
      opacity: 1;
    }
    37% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    62% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    87% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  /* attach the animations to the elements via their id attribute using a delay of 0s and 50% of the runtime respectively */
  
  #namechange1 {
    animation: fade 8s infinite;
  }
  
  #namechange2 {
    animation: fade 8s infinite;

  }





